*{box-sizing: border-box;}
html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	color: #fff;
	background: #141E30;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #243B55, #141E30);  
	background: linear-gradient(to left, #243b55, #141E30); 
	
}

body::-webkit-scrollbar {
    width: 18px;
}

body::-webkit-scrollbar-thumb {
    background: #32344A;
    border-radius: 10px;
	background-clip: padding-box;
	border: 5px solid transparent;
}
body::-webkit-scrollbar-thumb:hover {
	background: #444557;
    border-radius: 10px;
	background-clip: padding-box;
	border: 4px solid transparent;
}

body::-webkit-scrollbar-track {
    background: #f1f1f1;  /*스크롤바 뒷 배경 색상*/
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 0.5em 0;
	font-weight: 400;
	line-height: 1.2;
}

h1 {
	font-size: 2em;
}

p {
	padding: 0;
	margin: 0;
}

ul, ol{
    margin: 0; 
    padding: 0;
    list-style: none;
}

a {
	text-decoration: none; 
	color: inherit;
}

code {
	font-family: menlo, inconsolata, monospace;
	font-size: calc(1em - 2px);
	color: #555;
	background-color: #f0f0f0;
	padding: 0.2em 0.4em;
	border-radius: 2px;
}

.container {
	max-width: 1000px;
	padding: 0 20px;
	margin: 0 auto;
}

.shadow {
	box-shadow: 0px 1px 6px 1px #cdcdcd;
	transition: all 0.3s;
}
.shadow:hover {
    box-shadow: 0px 1px 8px 3px #cdcdcd;
}
.underline {
	position: relative;
}
.underline::after {
	content:"";
	position: absolute;
	left: 0px;
	bottom: -2px;
	width: 90%;
	height: 3px;
	background: linear-gradient(to right, #6379FF, #5A94E8, #6FCFFF);
	border-radius: 7px;
}

@media (min-width: 400px) {
	body {
		font-size: 16px;
	}
}

